/* zeroing margin and padding for all app page elements */
*{
  margin: 0px;
}

/* font imports */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Roboto:wght@300&display=swap');

button {
  font-family: 'Roboto', sans-serif;;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Cairo', serif;
}

h2 {
  font-family: 'Cairo', serif;
}